<!-- <div class="address-login-form">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <input type="text" formControlName="name" class="form-control form-control-lg" id="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" placeholder="Name">
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
              <div *ngIf="f.name.errors.required">Name is required</div>
          </div>
          </div>
        <div class="form-group">
          <input type="text" formControlName="address" class="form-control form-control-lg" [ngClass]="{ 'is-invalid': submitted && f.address.errors }" id="address" placeholder="Enter Address">
        </div>
        <div class="form-group">
          <input type="text" formControlName="price" class="form-control form-control-lg" id="price" [ngClass]="{ 'is-invalid': submitted && f.price.errors }" placeholder="Price">
        </div>
        <div class="form-group">
          <textarea type="textArea" formControlName="repassword" class="form-control form-control-lg" id="repasswordInput" [ngClass]="{ 'is-invalid': submitted && f.repassword.errors }" placeholder="About this place."></textarea>
          <div *ngIf="submitted && f.repassword.errors" class="invalid-feedback">
            <div *ngIf="f.repassword.errors.required">Confirm Password is required</div>
            <div *ngIf="f.repassword.errors.mustMatch">Passwords must match</div>
        </div>
        </div>
        <button [disabled]="loading" class="btn btn-success">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          List
      </button>
      </form>
  </div>
  <br> -->
