<homepagenavbar></homepagenavbar>

<!-- banner-bottom-wthree -->
    <section class="banner-bottom-wthree py-5" id="about">
        <div id="content" class="container py-md-3">
              <booking></booking>
        </div>
      </section>

<!-- //banner-bottom-wthree -->
<!--/ about -->
<section class="py-5" id="services">
  <div class="container py-md-5">
      <homepage-top-destination></homepage-top-destination>
  </div>
</section>
<!--// about -->
<!--/mid-sec-->
<section class="mid-sec py-5" id="menu">
  <div class="container-fluid py-lg-5">
      <div class="header pb-lg-3 pb-3 text-center">
          <h3 class="tittle mb-lg-3 mb-3">Popular Activites</h3>
      </div>
        <homepage-video></homepage-video>
  </div>
</section>
<!--//mid-sec-->
<!--/order-now-->
<section class="order-sec pb-5 pt-md-0 pt-5" id="order">
  <div class="container py-lg-3">
      <div class="test-info text-center">
          <h3 class="tittle order">
              <span>TripBay</span>Recommendations</h3>
      </div>
      <br>
      <homepage-recommendations></homepage-recommendations>
  </div>
</section>
<!--//order-now-->

<!-- Gallery -->
<section class="gallery py-5" id="gallery">
  <div class="container py-md-5">
      <div class="header text-center">
          <h3 class="tittle mb-lg-5 mb-3">Top Offers</h3>
      </div>
      <top-offers></top-offers>


  </div>
</section>
<!--// gallery -->

<!--/testimonials-->
<section class="testimonials" id="testimonials">
  <div class="layer footer">
      <div class="container py-5">
          <div class="test-info text-center">
              <h3 class="my-md-2 my-3">2,000,000+ Reviews from Customers</h3>
          </div>
          <br>
              <customer-reviews></customer-reviews>
      </div>
  </div>
</section>
<!--//testimonials-->
<!-- contact -->
<section class="contact py-5" id="contact">
  <div class="container pb-md-5">
      <div class="header py-lg-5 pb-3 text-center">
          <h3 class="tittle mb-lg-5 mb-3"> Contact Us</h3>
      </div>

      <div class="contact-form mx-auto text-left">
          <form name="contactform" id="contactform1" method="post" action="#">
              <div class="row">
                  <div class="col-lg-4 con-gd">
                      <div class="form-group">
                          <label>Name *</label>
                          <input type="text" class="form-control" id="name" placeholder="" name="name" required="">
                      </div>
                  </div>
                  <div class="col-lg-4 con-gd">
                      <div class="form-group">
                          <label>Email *</label>
                          <input type="email" class="form-control" id="email" placeholder="" name="email" required="">
                      </div>
                  </div>
                  <div class="col-lg-4 contact-page">
                      <div class="form-group">
                          <label>Submit *</label>
                          <button type="submit" class="btn btn-default">Submit</button>
                      </div>
                  </div>

              </div>

          </form>
      </div>
      <ul class="list-unstyled row text-left mb-lg-5 mb-3">
          <li class="col-lg-4 adress-info">
              <div class="row">
                  <div class="col-md-3 text-lg-center adress-icon">
                      <span class="fa fa-map-marker"></span>
                  </div>
                  <div class="col-md-9 text-left">
                      <h6>Location</h6>
                      <p>TripBay PH
                          <br> Tunasan, Muntinlupa City </p>
                  </div>
              </div>
          </li>

          <li class="col-lg-4 adress-info">
              <div class="row">
                  <div class="col-md-3 text-lg-center adress-icon">
                      <span class="fa fa-envelope-open-o"></span>
                  </div>
                  <div class="col-md-9 text-left">
                      <h6>Email</h6>
                      <a href="mailto:info@tripbay.ph">info@tripbay.ph</a>
                      <br>
                      <a href="mailto:partnership@tripbay.ph">partnership@tripbay.ph</a>
                  </div>
              </div>
          </li>
          <li class="col-lg-4 adress-info">
              <div class="row">
                  <div class="col-md-3 text-lg-center adress-icon">
                      <span class="fa fa-mobile"></span>
                  </div>
                  <div class="col-md-9 text-left">
                      <h6>Phone Number</h6>
                      <p>+ 1234567890</p>
                      <p>+ 0987654321</p>
                  </div>
              </div>
          </li>
      </ul>
  </div>

</section>
<!-- //contact -->
