<div class="hotel">
  <div id="hotel-images">
    <div class="row">
      <div class="col-md-6">
        <img class="hotel-first-image" src="https://edge.media.datahc.com/HI342285058.jpg" alt="hotel" height="460" width="790">
      </div>
      <div class="col-md-3">
        <img class="imgResponsive" src="https://www.nordicchoicehotels.com/globalassets/global/hotel-pictures/clarion-hotel/clarion-hotel-copenhagen-airport/rooms/room-clarion-hotel-copenhagen-airport.jpg?t=SmartScale%7C1024x570" alt="hotel1" height="230" width="445"><br>
        <img class="imgResponsive" src="https://www3.hilton.com/resources/media/hi/BUHHITW/en_US/img/shared/full_page_image_gallery/main/HL_diplomateball001_16_1270x560_FitToBoxSmallDimension_Center.jpg" alt="hotel2" height="230" width="445">
      </div>
      <div class="col-md-3">
          <img class="imgResponsive" src="https://www.nordicchoicehotels.com/globalassets/global/hotel-pictures/clarion-hotel/clarion-hotel-copenhagen-airport/rooms/room-clarion-hotel-copenhagen-airport.jpg?t=SmartScale%7C1024x570" alt="hotel1" height="230" width="355"><br>
          <img class="imgResponsive" src="https://www3.hilton.com/resources/media/hi/BUHHITW/en_US/img/shared/full_page_image_gallery/main/HL_diplomateball001_16_1270x560_FitToBoxSmallDimension_Center.jpg" alt="hotel2" height="230" width="355">
      </div>
    </div>
  </div>
  <br>
  <div class="container" id="hotel-content">
      <div class="row">
          <div class="hotel-content-details">
            <div class="row">
                <div class="col-md-2">
                    <img src="https://edge.media.datahc.com/HI342285058.jpg" alt="avatar" class="avatar" height="100px" width="100px">
                </div>
                <div class="col-md-9">
                  <div class="hotel-name">
                      <p class="ex" style="font-size: 30px !important;padding-top: 20px">
                        Monina's Inn
                      </p>
                    </div>
                    Tubigon,Bohol <br>
                    ⭐ ⭐ ⭐ ⭐ ⭐ 1,043
                </div>
            </div>
            <hr>
            🏚 <b>Room in Bed </b> <br>
            2 guests 1 bedroom 1 bed 1 bath <br><br>

            👔 <b> Lorem ipsum </b>  <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. <br><br>

            🛏️ <b>Room in Bed </b> <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. <br><br>
            <hr>
            <br>
              <div id="summary">
                <p class="collapse" id="collapseSummary">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Nunc porttitor maximus laoreet. Pellentesque habitant morbi tristique senectus et
                    netus et malesuada fames ac turpis egestas. In hac habitasse platea dictumst.
                    Suspendisse venenatis sollicitudin erat in gravida. Sed eget nisl tristique,
                    commodo lectus sit amet, vulputate sem. Cras porttitor lorem ipsum,
                    sit amet iaculis massa feugiat vitae. Curabitur sapien odio, ullamcorper
                    tincidunt interdum vitae, vestibulum eu neque. Nam leo massa, fringilla eget mauris
                    feugiat, auctor suscipit justo.
                    <br><br>
                    <strong>The space</strong>
                    <br><br>
                    This cozy studio unit is conveniently located in the uptown district of Cebu, One Oasis lets families or friends enjoy a garden lifestyle amidst the city’s stifling environment. Every single day is bathed in refreshing greenery and breathtaking vistas. And every moment is a promise of tranquility, leisure, and convenience. A mid-rise residential condominium community. Please note that to achieve this kind of feel in the heart of Cebu, the location is few meters away from the main road.
                    Find comfort in my stylish and spacious studio unit with fully furnished kitchen where you can cook your own delicious meal.
                    I have a new very comfortable queen sized bed with a queen sized pull out.
                    <br>
                    My studio unit can fit up to 4 people.
                    <br><br>
                    <strong>Guest access  </strong>
                    <br><br>
                    Discover the perfect place to refresh your spirits at any of the community's resort-inspired indoor and outdoor amenities.
                    <br>*CLUBHOUSE AND GAZEBO<br>
                    *ADULT AND KIDDIE POOL<br>
                    *BASKETBALL COURT<br>
                    *CHILDREN'S PLAY AREA<br>
                    *JOGGING AND WALKING PATHS<br>
                    *POOL<br><br>

                    All of these are just in front of the studio.<br>
                    Please note that there's a minimal charge of Pool use: 200 Php for adult and 100 Php for kids. This is just minimal for a well maintained place. Swimming pool time is 6am to 8pm.
                    <br>
                    We added some safety features and guest convenience. For guests checking in late at night or early dawn, We installed a modern electronic door lock with burglar alarm. We automatically change the lock combination with every new guest so there is little chance of somebody having a duplicate key to your room. Plus you don't need to ask the key from us nor bring a key while touring around the city and afraid you might loose it. Since we go KEYLESS, We will just give you a pass code once booked. You can open the unit with just a 4-digit number. Its that simple! We make your travel easier.
                    <br>
                    This is a self check in unit. We may or may not meet with you since this is a keyless entry where you will just key in the code to enter the unit.
                    <br>
                    We provide high speed wifi for your communication or business needs. And local landline for emergency cases. We also have mobile wifi for rent (Subject to availability).
                    <br>
                    Guests who are touring the city: We can provide Van/Car for rent. We also arrange tours around Bohol. Just tell us ahead of time so we can book one for you.
                    <br><br>
                    <strong>Other things to note </strong>
                    <br><br>
                    For guests who are bringing a car, please note that I don't have a parking slot inside the condominium. But There's a parking area beside the condominium for a fee.
                    <br>
                  </p>
                <a class="collapsed" data-toggle="collapse" href="#collapseSummary" aria-expanded="false" aria-controls="collapseSummary"></a>
              </div>
              <hr>
              <div class="amenities container">
                <h5>Amenities</h5>
                <br>
                <div class="row container">
                  <div class="col-lg-6">
                    <div class="row">
                      <span class="fa fa-wifi"> Wifi</span>
                    </div>
                    <div class="row">
                        <span class="fa fa-cutlery"> Kitchen</span>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="row">
                        <span class="fa fa-television"> TeleVision</span>
                      </div>
                      <div class="row">
                          <span class="fa fa-bath"> Bath</span>
                      </div>
                  </div>
                  <a href="#" class="all-amenities">Show all 44 amenities.</a>
                </div>
              </div>
              <hr>
              <div class="accessibility container">
                <h5>Accessibility</h5> <br>
                <div class="row container">
                  <div class="col-lg-6">
                      <p> Handheld shower head</p>
                  </div>
                  <div class="col-lg-6">
                     <p>
                       Well-lit path to entrance
                     </p>
                  </div>
                  <a href="#" class="all-amenities">Show all access.</a>
                </div>
              </div>
              <hr>
              <div class="calendar">
                  <calendar-schedule></calendar-schedule>
              </div>
              <div class="reviews">
                <app-reviews></app-reviews>
               </div>
               <br>
               <hr>
              <div class="map">
                  <hotel-location></hotel-location>
              </div>
              <br>
          </div>
          <div class="hotel-book">
            <div class="hotel-stick">
                <div class="hotel-booking">
                    <b>₱2,340</b> <small> per night</small>
                    <hr>
                    <br>
                    <div style="width: 50%; float:left">
                        <app-datepicker [name]="checkInNameDate" [minDate]="bookingMinDate"></app-datepicker>
                    </div>

                    <div style="width: 50%; float:right">
                        <app-datepicker [name]="checkOutNameDate" [minDate]="bookingMinDate"></app-datepicker>
                    </div>
                    <guest-counter></guest-counter>
                    <br>
                    <div>
                        <a class="btn btn-primary " [routerLink]="['/hotel-page']" style="width: 100% !important;">Reserve</a>
                    </div>
                  </div>
                  <a href="#" style="margin-left: 188px !important;"><small> ⚑ Report this listing </small> </a>
                </div>
             </div>
        </div>
        <div class="other-hotels">
          <b> Also Book by Others </b>
          <br>
          <br>
          <app-other-hotels></app-other-hotels>
        </div>
    </div>
</div>
