<div class="container">
    <h1>About TripBay</h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit.
      Amet veritatis et cum illum cumque.
      Laudantium dolore repellendus facere sapiente impedit corrupti suscipit
      commodi cupiditate totam, quis dolor accusamus eum sit!
    </p>
</div>
<div class='container-fluid'>
  <owl-carousel [options]="SlideOptions" [items]="images" [carouselClasses]="['owl-theme', 'sliding']" >
    <div class="item" *ngFor="let img of images">
    <div style="align-content: center">
    <div class="card">
        <img style="height: 260px;width:100%" src={{img}} class="card-img-top" alt="user-img">
        <div class="card-body">
          <h5 class="card-title">Review Title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="user-link">- Tripbay User First Name </a>
        </div>
      </div>
    </div>
    </div>
    </owl-carousel>
  </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<guest></guest>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

