#myCarousel {
  margin-left: 50px;
  margin-right: 50px;
}

.item img {
  margin-left: auto;
  margin-right: auto;
}

.selected img {
	opacity:0.5;
}


.carousel-control-prev,
.carousel-control-next {
  background: none;
	color: red !important;
	border: none;
}

.carousel-control-prev {
  margin-left: -100px;
}

.carousel-control-next {
  margin-right: -100px;
}

.carousel-control {
  width: 10%;
}

.carousel-control-prev-icon{
  color: black;
  font-size: 40px;
}
