<div class="container">
    <div class="row">
      <div class="col-md-3">
          <div class="card" style="width: 16rem;">
              <img src="https://media-cdn.tripadvisor.com/media/photo-s/07/b6/26/a0/monina-rm-midtown-inn.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Monina's Inn</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go</a>
              </div>
            </div>
          </div>
      <div class="col-md-3">
          <div class="card" style="width: 16rem;">
              <img src="https://media-cdn.tripadvisor.com/media/photo-s/07/b6/26/a0/monina-rm-midtown-inn.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Monina's Inn</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go</a>
              </div>
            </div>
          </div>
      <div class="col-md-3">
          <div class="card" style="width: 16rem;">
              <img src="https://media-cdn.tripadvisor.com/media/photo-s/07/b6/26/a0/monina-rm-midtown-inn.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Monina's Inn</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go</a>
              </div>
            </div>
          </div>
      <div class="col-md-3">
          <div class="card" style="width: 16rem;">
              <img src="https://media-cdn.tripadvisor.com/media/photo-s/07/b6/26/a0/monina-rm-midtown-inn.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Monina's Inn</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go</a>
              </div>
            </div>
          </div>
    </div>
</div>
