a {
  text-decoration: none !important;
}

#gago {
  cursor: pointer;
}

a.btn {
  background-color: #007bff;
  width: 150px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

h2 {
 color: white;
}

.tripBay {
  padding-top: 12.6em;
  text-align: center;
}

@media screen and (max-width: 1440px) {
  .tripBay {
    padding-top: 12.6em;
    text-align: center;
  }
}

@media screen and (max-width: 1080px) {
  .tripBay {
    padding-top: 12.6em;
    text-align: center;
  }

}

@media screen and (max-width: 991px) {
  .tripBay {
    padding-top: 12.6em;
    text-align: center;
  }
}

@media screen and (max-width: 736px) {
  .tripBay {
    padding-top: 5em;
    text-align: center;
  }
}

@media screen and (max-width: 640px) {
  .tripBay {
    padding-top: 5em;
    text-align: center;
  }
}

@media screen and (max-width: 384px) {
  .tripBay {
    padding-top: 5em;
    text-align: center;
  }
}
