 <!-- mian-content -->
 <div class="main-content" id="home">
    <div class="layer">
        <!-- header -->
        <header>
            <div class="container-fluid px-lg-5">
                <!-- nav -->
                <nav class="py-4 d-lg-flex">
                    <div id="logo">
                        <h1> <a [routerLink]="['/']"><span class="fa fa-hotel" aria-hidden="true"></span>TB</a></h1>
                    </div>
                    <label for="drop" class="toggle">Menu</label>
                    <input type="checkbox" id="drop" />
                    <ul class="menu mt-2 ml-auto">
                        <li class="active"><a [routerLink]="['/']">Home</a></li>
                        <li><a [routerLink]="['/about-us']" class="scroll">About</a></li>
                        <li><a [routerLink]="['/']">Download App</a></li>
                        <li><a [routerLink]="['/sign/up']" class="scroll">Sign Up</a></li>
                        <li><a [routerLink]="['/sign/in']" class="scroll">Sign In</a></li>
                    </ul>
                </nav>
                <!-- //nav -->
            </div>
        </header>
        <!-- //header -->
        <div class="container">

          <div class="tripBay text-center">
              <h2>TripBay PH</h2>
              <small style="color:#cccccc;">Got a Trip? We Got YOU!</small>
          </div>
            <!-- /banner -->
            <div class="banner-info-w3layouts text-center">
              <div class="row">
                  <div class="col-md-6">
                      <h3>Guest</h3>
                      <a class="btn btn-success book" onclick="myFunction()">Book </a>
                    </div>
                    <div class="col-md-6">
                        <h3>Host</h3>
                        <a href="#about" class="btn btn-warning">Learn More </a>
                    </div>
                   </div>


            <div class="row order-info">
                <div class="middle mt-3 col-md-6 text-left">
                    <ul class="social mb-4">
                        <li><a href="#"><span class="fa fa-facebook icon_facebook"></span></a></li>
                        <li><a href="#"><span class="fa fa-twitter icon_twitter"></span></a></li>
                        <li><a href="#"><span class="fa fa-google-plus icon_google-plus"></span></a></li>
                        <li><a href="#"><span class="fa fa-linkedin icon_linkedin"></span></a></li>
                        <li><a href="#"><span class="fa fa-dribbble icon_dribbble"></span></a></li>
                    </ul>

                </div>
                <!-- <div class="middle-right mt-md-3 col-md-6 text-right">
                    <h6><span class="fa fa-hotel"></span> Host Now </h6>
                </div> -->
            </div>
        </div>
        <!-- //banner -->
    </div>
  </div>
  <!--// mian-content -->
