
<div class="row">
  <div class="col-md-6">
    1 <img class="img-responsive" class="hotel-first-image" src="https://edge.media.datahc.com/HI342285058.jpg" alt="hotel">
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-6">
        2 <img class="img-responsive" src="https://edge.media.datahc.com/HI342285058.jpg" alt="hotel">
      </div>
      <div class="col-md-6">
        3 <img class="img-responsive" src="https://edge.media.datahc.com/HI342285058.jpg" alt="hotel">
      </div>
    </div>
    <div class="row">
      <div class="col">
        4 <img class="img-responsive img-last" src="https://edge.media.datahc.com/HI342285058.jpg" alt="hotel">
      </div>
    </div>
  </div>
</div>
