
<div class="row">
  <div class="col-md-6">
     <img class="img-responsive" class="hotel-first-image" src="https://edge.media.datahc.com/HI342285058.jpg" alt="hotel">
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-6">
         <img class="img-responsive" src="https://edge.media.datahc.com/HI342285058.jpg" alt="hotel">
      </div>
      <div class="col-md-6">
         <img class="img-responsive" src="https://edge.media.datahc.com/HI342285058.jpg" alt="hotel">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img class="img-responsive img-last" src="https://timesjourneys.files.wordpress.com/2019/06/day9-ho-150713_cunard175nyc_ja_262.jpg?w=432&h=264&crop=1" alt="hotel">
      </div>
    </div>
  </div>
</div>
