.hotel-first-image{
  width: 658;
  height: 360;
  align-content: center;
}

@media screen and (max-width: 767px) {

.hotel-first-image{
  width: 360;
  height: 360;
  align-content: center;
}
}

@media screen and (max-width: 640px) {

.hotel-first-image{
  width: 360;
  height: 360;
  align-content: center;
}
}

@media screen and (max-width: 384px) {

.hotel-first-image{
  width: 360;
  height: 360;
  align-content: center;
}
}


