<div class="containers">
  <div class="login">
    <div class="row">
      <a class="bton fb-btn"><i class="fa fa-facebook-square"></i> &nbsp; Sign Up with Facebook</a>
    </div>
    <div class="row">
      <a class="bton google-btn"><i class="fa fa-google"></i> &nbsp; Sign Up with Google</a>
    </div><br>
    <p class="or"><span>or</span></p>
    <alert></alert>
    <div class="email-login-form">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
              <input type="text" formControlName="name" class="form-control form-control-lg" id="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" placeholder="Name">
              <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">Name is required</div>
            </div>
            </div>
          <div class="form-group">
            <input type="email" formControlName="email" class="form-control form-control-lg" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" id="email" placeholder="Enter Address">
          </div>
          <div class="form-group">
            <input type="password" formControlName="password" class="form-control form-control-lg" id="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Password">
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
              <div *ngIf="f.password.errors.minlength">Password must be at least 8 characters</div>
          </div>
          </div>
          <div class="form-group">
            <input type="password" formControlName="repassword" class="form-control form-control-lg" id="repasswordInput" [ngClass]="{ 'is-invalid': submitted && f.repassword.errors }" placeholder="Confirm Password">
            <div *ngIf="submitted && f.repassword.errors" class="invalid-feedback">
              <div *ngIf="f.repassword.errors.required">Confirm Password is required</div>
              <div *ngIf="f.repassword.errors.mustMatch">Passwords must match</div>
          </div>
          </div>
          <button [disabled]="loading" class="btn btn-success">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Sign Up
        </button>
        </form>
    </div>
    <br>
    <div class="signin">
      <p>Already have an account?</p> <button [routerLink]="['/sign/in']" class="btn btn-warning">Sign In</button>
    </div>
  </div>
</div>
