<b><strong>Reviews</strong></b>
<br>
<div class="container">
  <div class="container">
    <div class="row">
        <b> 5/5 | 1,043 reviews</b>
      <br>
    </div>
    <div class="row">
      ⭐ ⭐ ⭐ ⭐ ⭐
    </div>
    <br>
    <br>
  </div>
  <div class="container">
      <div class="container">
        <img src="https://scontent.fmnl3-2.fna.fbcdn.net/v/t1.0-1/c0.0.960.960a/p960x960/62216573_2273896092925916_2854951854998028288_o.jpg?_nc_cat=100&_nc_oc=AQmspNvSR00sJxSC2NZHynbhQfHTTWmA8hu9gq0nASwmgyfKy-qq3rLbrEyDQ8dklgg&_nc_ht=scontent.fmnl3-2.fna&oh=017c8c2ed3650d95671712a4ae8bf889&oe=5DF02CE5"
         alt="user" class="user-avatar" height="50px" width="50px">
         &nbsp; Janrey Maligo <br>
         October 7, 2019
         <br>
         <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Laborum sequi explicabo nesciunt qui similique nulla vero dignissimos
         magnam quibusdam ducimus illum voluptas repellat,
         ut accusantium porro vel minima facilis labore.
      </div>
      <hr>
      <div class="container">
          <img src="https://scontent.fmnl3-2.fna.fbcdn.net/v/t1.0-1/c0.0.960.960a/p960x960/62216573_2273896092925916_2854951854998028288_o.jpg?_nc_cat=100&_nc_oc=AQmspNvSR00sJxSC2NZHynbhQfHTTWmA8hu9gq0nASwmgyfKy-qq3rLbrEyDQ8dklgg&_nc_ht=scontent.fmnl3-2.fna&oh=017c8c2ed3650d95671712a4ae8bf889&oe=5DF02CE5"
          alt="user" class="user-avatar" height="50px" width="50px">
          &nbsp; Janrey Maligo <br>
          October 7, 2019
          <br>
          <br>
         Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Laborum sequi explicabo nesciunt qui similique nulla vero dignissimos
          magnam quibusdam ducimus illum voluptas repellat,
          ut accusantium porro vel minima facilis labore.
      </div>
    </div>
</div>
