<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
                <div class="card" style="width: 14rem;">
                    <img src="https://media-cdn.tripadvisor.com/media/photo-s/07/b6/26/a0/monina-rm-midtown-inn.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Review Title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="user-link">- Tripbay User First Name </a>
                    </div>
                  </div>
                </div>
            <div class="col-lg-4">
                <div class="card" style="width: 14rem;">
                    <img src="https://media-cdn.tripadvisor.com/media/photo-s/07/b6/26/a0/monina-rm-midtown-inn.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Review Title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="user-link">- Tripbay User First Name </a>
                    </div>
                  </div>
                </div>
            <div class="col-lg-4">
                <div class="card" style="width: 14rem;">
                    <img src="https://media-cdn.tripadvisor.com/media/photo-s/07/b6/26/a0/monina-rm-midtown-inn.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Review Title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="user-link">- Tripbay User First Name </a>
                    </div>
                  </div>
                </div>
          </div>
      </div>

      </div>
      <div class="carousel-item">
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
                <div class="card" style="width: 14rem;">
                    <img src="https://media-cdn.tripadvisor.com/media/photo-s/07/b6/26/a0/monina-rm-midtown-inn.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Review Title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="user-link">- Tripbay User First Name </a>
                    </div>
                  </div>
                </div>
            <div class="col-lg-4">
                <div class="card" style="width: 14rem;">
                    <img src="https://media-cdn.tripadvisor.com/media/photo-s/07/b6/26/a0/monina-rm-midtown-inn.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Review Title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="user-link">- Tripbay User First Name </a>
                    </div>
                  </div>
                </div>
            <div class="col-lg-4">
                <div class="card" style="width: 14rem;">
                    <img src="https://media-cdn.tripadvisor.com/media/photo-s/07/b6/26/a0/monina-rm-midtown-inn.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Review Title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="user-link">- Tripbay User First Name </a>
                    </div>
                  </div>
                </div>
          </div>
      </div>

      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="fa fa-chevron-circle-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="fa fa-chevron-circle-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
